.x-tab-bar-top {
	.x-tab-bar-body {
		padding: 8px 0 0 0 !important;
	}
	.x-tab-bar-strip {
		position: relative !important;
		margin-top: -10px;
	}
}

.x-tab-bar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
	background-color: #282C34
}

.x-tab {
	background-color: #282C34
}


.x-tab-top[style]:first-child {
	margin-left: 65px;
}

.x-tab.x-tab-active.x-tab-default {
	background-color: #5c6370
}

.x-tab-left:first-child {
	top: 15px !important;
}

.x-tab-left[style] {
	left: 11px !important;
}

#tabbar-1011-innerCt {
	min-width: 70px
}

#tabbar-1011-targetEl {
	min-width: 70px
}
